---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Not Found">
  <div
    class="flex grow items-center justify-center text-xl font-medium text-neutral-500 tabular-nums"
  >
    404
  </div>
</Layout>
